{{> header }}

{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Quienes somos</h1>
        </div>

        <div class="col-4">
            <img src="assets/img/mario.jpg" alt="" class="img-thumbnail">
        </div>

    </div>      

{{> footer}}